{{- define "main" -}}

{{/* Author profile page. */}}

<section id="profile-page" class="pt-5">
  <div class="container">
    {{/* Show the About widget if an account exists for this user. */}}
    {{ if .File }}
      {{ $widget := "widgets/about.html" }}
      {{ $username := (path.Base (path.Split .Path).Dir) }}{{/* Alternatively, use `index .Params.authors 0` */}}
      {{ $params := dict "root" $ "page" . "author" $username }}
      {{ partial $widget $params }}

    {{ $username := (path.Base (path.Split .Path).Dir) }}
    {{ $software := where (where site.RegularPages "Type" "software") ".Params.authors" "intersect" (slice $username) }}
    {{ $count := len $software }}
    {{ if ge $count 1 }}
    <ul>
      <div class="row">
    <div class="article-widget content-widget-hr">
      <h3>{{ i18n "software" | default "Software" }}</h3>
      {{ range $software }}
        {{ if eq site.Params.projects.post_view 1 }}
          {{ partial "li_list" . }}
        {{ else if eq site.Params.projects.post_view 3 }}
          {{ partial "li_card" . }}
        {{ else }}
          {{ partial "li_compact" . }}
        {{ end }}
      {{ end }}
    </div>
    </div>
    </ul>
  {{ end }}
  </div>

  <div class="container">
    {{ $pubs := where (where site.RegularPages "Type" "publication") ".Params.authors" "intersect" (slice $username) }}
    {{ $count := len $pubs }}
    {{ if $count }}
        {{ .Scratch.Add "has_thesis" false }}
        {{ range $pubs }}
            {{ if eq (index .Params.publication_types 0) "7"}}
                {{ $.Scratch.Set "has_thesis" true }}
            {{ end }}
        {{ end }}
        {{ if $.Scratch.Get "has_thesis" }}
          <div class="article-widget content-widget-hr">
            <h3>{{ i18n "dissertation" | default "Dissertation" }}</h3>
            {{ range $pubs }}
              {{ if eq (index .Params.publication_types 0) "7" }}
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
        {{ .Scratch.Delete "has_thesis" }}
    {{ end }}
  </div>

  <div class="container">
    {{ $books_tesla := where (where site.RegularPages "Type" "publication") ".Params.authors" "intersect" (slice $username) }}
    {{ $books_personal := where (where site.RegularPages "Type" "authors") ".Params.authors" "intersect" (slice $username) }}
    {{ $books := $books_tesla | append $books_personal}}
    {{ $books = sort $books "Date" "desc" }}
    {{ $count := len $books }}
    {{ if $count }}
        {{ .Scratch.Add "has_book" false }}
        {{ range $pubs }}
            {{ if eq (index .Params.publication_types 0) "5"}}
                {{ $.Scratch.Set "has_book" true }}
            {{ end }}
        {{ end }}
        {{ if $.Scratch.Get "has_book" }}
          <div class="article-widget content-widget-hr">
            <h3>{{ "Books" }}</h3>
            {{ range $pubs }}
              {{ if eq (index .Params.publication_types 0) "5" }}
                {{ if (eq site.Params.projects.publication_view 1) }}
                  {{ partial "li_list" . }}
                {{ else if eq site.Params.projects.publication_view 3 }}
                  {{ partial "li_card" . }}
                {{ else if eq site.Params.projects.publication_view 4 }}
                  {{ partial "li_citation" . }}
                {{ else }}
                  {{ partial "li_compact" . }}
                {{ end }}
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
        {{ .Scratch.Delete "has_book" }}
    {{ end }}
  </div>

  <div class="container">
    {{ $book_chs_tesla := where (where site.RegularPages "Type" "publication") ".Params.authors" "intersect" (slice $username) }}
    {{ $book_chs_personal := where (where site.RegularPages "Type" "authors") ".Params.authors" "intersect" (slice $username) }}
    {{ $book_chs := $book_chs_tesla | append $book_chs_personal}}
    {{ $book_chs = sort $book_chs "Date" "desc" }}
    {{ $count := len $book_chs }}
    {{ if $count }}
        {{ .Scratch.Add "has_book_ch" false }}
        {{ range $book_chs }}
            {{ if eq (index .Params.publication_types 0) "6"}}
                {{ $.Scratch.Set "has_book_ch" true }}
            {{ end }}
        {{ end }}
        {{ if $.Scratch.Get "has_book_ch" }}
          <div class="article-widget content-widget-hr">
            <h3>{{ "Book Chapters" }}</h3>
            {{ range $pubs }}
              {{ if eq (index .Params.publication_types 0) "6" }}
                {{ if (eq site.Params.projects.publication_view 1) }}
                  {{ partial "li_list" . }}
                {{ else if eq site.Params.projects.publication_view 3 }}
                  {{ partial "li_card" . }}
                {{ else if eq site.Params.projects.publication_view 4 }}
                  {{ partial "li_citation" . }}
                {{ else }}
                  {{ partial "li_compact" . }}
                {{ end }}
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
        {{ .Scratch.Delete "has_book_ch" }}
    {{ end }}
  </div>

  <div class="container">
    {{ $pubs_tesla := where (where site.RegularPages "Type" "publication") ".Params.authors" "intersect" (slice $username) }}
    {{ $pubs_personal := where (where site.RegularPages "Type" "authors") ".Params.authors" "intersect" (slice $username) }}
    {{ $pubs := $pubs_tesla | append $pubs_personal}}
    {{ $pubs = sort $pubs "Date" "desc" }}
    {{ $count := len $pubs }}
    {{ if $count }}
        {{ .Scratch.Add "has_pub" false }}
        {{ range $pubs }}
            {{ if eq (index .Params.publication_types 0) "2"}}
                {{ $.Scratch.Set "has_pub" true }}
            {{ end }}
        {{ end }}
        {{ if $.Scratch.Get "has_pub" }}
          <div class="article-widget content-widget-hr">
            <h3>{{ i18n "publications" | default "Publications" }}</h3>
            {{ range $pubs }}
              {{ if eq (index .Params.publication_types 0) "2" }}
                {{ if (eq site.Params.projects.publication_view 1) }}
                  {{ partial "li_list" . }}
                {{ else if eq site.Params.projects.publication_view 3 }}
                  {{ partial "li_card" . }}
                {{ else if eq site.Params.projects.publication_view 4 }}
                  {{ partial "li_citation" . }}
                {{ else }}
                  {{ partial "li_compact" . }}
                {{ end }}
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
        {{ .Scratch.Delete "has_pub" }}
    {{ end }}
  </div>

  <div class="container">
    {{ $confs_tesla := where (where site.RegularPages "Type" "publication") ".Params.authors" "intersect" (slice $username) }}
    {{ $confs_personal := where (where site.RegularPages "Type" "authors") ".Params.authors" "intersect" (slice $username) }}
    {{ $confs := $confs_tesla | append $confs_personal}}
    {{ $confs = sort $confs "Date" "desc" }}
    {{ $count := len $confs }}
    {{ if $count }}
        {{ .Scratch.Add "has_conf" false }}
        {{ range $confs }}
            {{ if eq (index .Params.publication_types 0) "1"}}
                {{ $.Scratch.Set "has_conf" true }}
            {{ end }}
        {{ end }}
        {{ if $.Scratch.Get "has_conf" }}
          <div class="article-widget content-widget-hr">
            <h3>{{ "Proceedings" }}</h3>
            {{ range $confs }}
              {{ if eq (index .Params.publication_types 0) "1" }}
                {{ if (eq site.Params.projects.publication_view 1) }}
                  {{ partial "li_list" . }}
                {{ else if eq site.Params.projects.publication_view 3 }}
                  {{ partial "li_card" . }}
                {{ else if eq site.Params.projects.publication_view 4 }}
                  {{ partial "li_citation" . }}
                {{ else }}
                  {{ partial "li_compact" . }}
                {{ end }}
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
        {{ .Scratch.Delete "has_conf" }}
    {{ end }}
  </div>

    {{ else }}
    {{/* If an account has not been created for this user, just display their name as the title. */}}

    <div class="universal-wrapper pt-3">

      <script>
        var full_name = {{ .Title }};
        var names = full_name.split(" ");
        var first_name = names[0];
        var last_name = names[1];
        var concat_name = first_name.concat("+", last_name);
        var gs_search = "https://scholar.google.com/scholar?q=";
        var google_scholar = full_name.link(gs_search.concat(concat_name));
        document.write("<h1>" + {{ .Title }} + "</h1>");
        document.write("<p>Google Scholar: " + google_scholar + "</p>");
      </script>
      <p type="text" id="search" name="search"></p>
      <p id='search'></p>
    </div>

    {{ end }}
</section>



{{- end -}}
